*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --night: rgba(17, 17, 17, 1);
    --platinum: rgba(229, 228, 226, 1);
    --platinumDull: rgba(229, 228, 226, 0.55);
    --amber: rgba(255, 191, 0, 1);
    --amberDull: rgba(255, 191, 0, 0.45);

    --ysabeau: "Ysabeau SC";
    --cormorant: "Cormorant";
}

body {
    display: block;
    background-color: var(--night);
}
h1 {
    font-family: var(--ysabeau);
    color: var(--amber);
    font-size: 2.5rem;
    font-weight: 100;
}



/* HEADER */
.headerContent {
    position: relative;
    transform: scale(0.45) translateX(-2rem) translateY(-5rem);
    margin: 0;

    max-height: 5.5rem;
}
nav {
    display: flex;
    width: 15rem;
    margin: 3rem 0 2rem 0;

    transform: translateX(100%);
    translate: -25%;
    /* ^^ double translate centers navbar */
    align-items: center;
    justify-content: space-between;
}
nav > button {
    z-index: 1;
    margin: 0.25rem;
    border-radius: 0.15rem; 
    border: 0.05rem solid var(--amber); 
      /* ^^ removes default */

    background-color: var(--night);
    color: var(--platinum);
    font-size: 1rem;
}
nav > button:hover {
    border: none;
    box-shadow:0.15rem 0.15rem 0.35rem var(--amber);

    background-color: var(--amberDull);
    color: var(--night);
}

/* END HEADER */





/* HOME */



/* END HOME */





/* MENU  & MENU Globals*/
.menu {
    display: block;
    margin: 1rem 0 0 0;
}

.drinksContent, .dishes {
    display: flex;

    align-items: center;
    justify-content: space-around;
}
.drinkList, .priceList, .foodList, .foodPrices {
    display: block;
    margin: 0 0 0.05rem 0;
    
    text-decoration: none;
    list-style: none;

    color: var(--platinum);
    font-family: var(--cormorant);
}
.drinkList > li, .foodList > li {
    font-style: italic
}
.priceList, .foodPrices {
    font-size: 1.05rem;
}

    /* DRINKS */
    .drinkMenu {
        display: block;
        margin: 2rem 0 1rem 0;
        transform: translateX(-.75rem);
    }

    .drinksHead {
        display: flex;
        justify-content: center;
        max-height: 4.75rem;
    }
    .drinks {
        margin: 0 0 1rem 0;
        transform: translateX(-1rem);
    }
    .drinkIcon {
        margin: 0 0 0 1rem;
        max-width: 3rem;
        max-height: 3rem;
    }

    .drinksContent {
        margin: 0 12rem 0 12rem;
        transform: translateX(-2rem);
    }


    /* FOOD */

    .foodMenu {
        display: block;
        margin: 2rem 0 1rem 0;
    }

    .foodHeader {
        margin: 0 0 1rem 0;
        display: flex;
        justify-content: center;
        max-height: 4.75rem;
        transform: translateX(-0.15rem);
    }
    .foodHeader > h1 {
        font-size: 3.15rem;
    }
    .plate {
        margin: 0 0 0 1rem;
        max-width: 5rem;
        transform: rotate(15deg);
    }
    
    .dishes {
        margin: 0 10.5rem 0 7rem;
    }


/* END MENU */




/* ABOUT */

.wrapper {
    display: flex;
    margin: 5rem 7rem 2rem 7rem;

    transform: translateX(1.5rem);
}
.firstWord {
    transform: translateY(-1.35rem);

    font-family: var(--ysabeau);
    color: var(--amber);
    font-size: 2rem;
}
.aboutUs {
    text-indent: 4rem;
    transform: translateX(-3.75rem);

    color: var(--platinum);
}
.sendOff {
    margin: 4rem 0 0 0;
    text-align: center;
}

/* END ABOUT */
